# JetBrains
.idea

# OSX
.DS_Store

# Python virtualenv
src/python/.venv/

# Python build files
__pycache__

# Weather config
src/js/config.js

# Brightness config
src/python/config.py

# SCAD Export config
export config.json
