# WebStorm
.idea

# OSX
.DS_Store

# Weather config
config.js

# Brightness config (copy config.example.py -> config.py)
src/python/config.py

# Python virtualenv
src/python/.venv/

# SCAD Export
export config.json
