html *,
html *:before,
html *:after {
    box-sizing: inherit;
}

body {
    background-color: #000000;
    color: #F8F8FF;
    font: 15px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#body {
    text-align: right;
    margin: 0 1.5em 0 0;
}

#time {
    font-size: 6em;
}

#date {
    font-size: 2.5em;
    margin: -0.3em 0 0 0;
}
